.svgContainer {
  width: 75vw;
  height: 55vw;
}

.svgContent {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.node {
  stroke: #CCCCCC;
  stroke-width: 1px;
}

.highlightedNode {
  stroke: red;
  stroke-width: 3px;
}

.edge {
  stroke: #CCCCCC;
  stroke-width: 1px;
}

.highlightedEdge {
  stroke: red;
  stroke-width: 3px;
}